/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
h1{
  background-color: #264653;
  font-size: 40px;
  font-family: 'Georgia', sans-serif;
  text-align: center;
  margin: 0px;
  padding: 40px 0;
	color: #FFFFFF;  /* white text */

}
h2{
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  color: black;
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}
h3{
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
  color: black;
  text-align: left;
  margin-left: 20px;
  background-color: E76F51
}
h4{
  font-family: 'Verdana', sans-serif;
  font-size: 16px;
  color: white;
  text-align: left;
  margin-left: 20px;
  background-color: E76F51
}


.order{
background-color: #04AA6D;	
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

body{
  background-color: #2A9D8F;
}
